a,
a:hover,
a:active,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer; }

body {
  overflow-x: hidden;
  overflow-y: visible;
  height: auto;
  width: auto; }
  body #grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 100px; }
    body #grid-container #grid-content__loggedin {
      display: grid;
      grid-column: auto;
      grid-row: 2;
      grid-template-columns: 1fr 0.75fr;
      grid-template-rows: 1fr;
      background-color: #FFFFFF;
      overflow: hidden; }
      body #grid-container #grid-content__loggedin #content-chat {
        display: grid;
        position: relative;
        top: 0px;
        grid-column: 1;
        grid-row: auto;
        grid-template-columns: 50px 10px 1fr;
        grid-template-rows: 1fr 100px 20px;
        -webkit-box-shadow: 0px 0px 5px #333333;
                box-shadow: 0px 0px 5px #333333;
        margin: 10px 20px 10px 20px;
        -webkit-transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
        overflow: hidden; }
        body #grid-container #grid-content__loggedin #content-chat #chat-messages {
          display: block;
          grid-column: 3;
          grid-row: 1;
          padding: 10px 10px 10px 10px;
          overflow: hidden; }
          body #grid-container #grid-content__loggedin #content-chat #chat-messages:hover {
            top: -2.5px;
            overflow-x: hidden;
            overflow-y: auto; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messages:hover ::-webkit-scrollbar {
              width: 7px; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messages:hover ::-webkit-scrollbar-thumb {
              background: #888; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messages:hover ::-webkit-scrollbar-thumb:hover {
              background: #555; }
        body #grid-container #grid-content__loggedin #content-chat #chat-sidebar {
          display: grid;
          position: relative;
          left: 0px;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 45px);
          grid-column: 1;
          grid-row-start: 1;
          grid-row-end: 4;
          background-color: #25cc3b;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 24px; }
          body #grid-container #grid-content__loggedin #content-chat #chat-sidebar #sidebar-account {
            grid-row: 1;
            background: url("../../img/materialdesign/ic_account_balance_24px.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            -webkit-transition: background-color 300ms ease;
            transition: background-color 300ms ease; }
          body #grid-container #grid-content__loggedin #content-chat #chat-sidebar #sidebar-users {
            grid-row: 2;
            background: url("../../img/materialdesign/baseline-supervised_user_circle-24px.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            -webkit-transition: background-color 300ms ease;
            transition: background-color 300ms ease; }
          body #grid-container #grid-content__loggedin #content-chat #chat-sidebar #sidebar-friends {
            grid-row: 3;
            background: url("/Exchange.me/img/materialdesign/ic_favorite_border_24px.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            -webkit-transition: background-color 300ms ease;
            transition: background-color 300ms ease; }
          body #grid-container #grid-content__loggedin #content-chat #chat-sidebar #sidebar-blocked {
            grid-row: 4;
            background: url("/Exchange.me/img/materialdesign/ic_block_24px.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            -webkit-transition: background-color 300ms ease;
            transition: background-color 300ms ease; }
          body #grid-container #grid-content__loggedin #content-chat #chat-sidebar #sidebar-settings {
            grid-row: 5;
            background: url("../../img/materialdesign/ic_settings_24px.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px;
            -webkit-transition: background-color 300ms ease;
            transition: background-color 300ms ease; }
        body #grid-container #grid-content__loggedin #content-chat #chat-messaging {
          display: grid;
          grid-column: 3;
          grid-row: 2;
          padding: 10px 10px 5px 10px; }
          body #grid-container #grid-content__loggedin #content-chat #chat-messaging #messaging-message {
            display: block;
            height: 100%;
            width: 100%;
            outline: none;
            resize: none;
            overflow: auto; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messaging #messaging-message ::-webkit-scrollbar {
              width: 7px; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messaging #messaging-message ::-webkit-scrollbar-thumb {
              background: #888; }
            body #grid-container #grid-content__loggedin #content-chat #chat-messaging #messaging-message ::-webkit-scrollbar-thumb:hover {
              background: #555; }
        body #grid-container #grid-content__loggedin #content-chat #chat-remaining {
          display: grid;
          grid-column: 3;
          grid-row: 3;
          color: #a5a5a5;
          font-family: Helvetica, sans-serif;
          font-weight: 100;
          font-size: 0.75em;
          padding: 0px 20px 5px 0px; }
        body #grid-container #grid-content__loggedin #content-chat #account-container {
          display: grid;
          position: absolute;
          top: 5px;
          margin-left: 55px;
          height: 500px;
          width: 300px;
          background-color: #FFFFFF;
          opacity: 0.5;
          -webkit-box-shadow: 0px 0px 5px #333333;
                  box-shadow: 0px 0px 5px #333333; }
        body #grid-container #grid-content__loggedin #content-chat #chat-sidebar-slider {
          display: grid;
          position: relative;
          left: 0px;
          height: 100%;
          width: 10px;
          -webkit-transition: width 1s ease;
          transition: width 1s ease;
          background-color: #fffffff2;
          overflow: hidden;
          z-index: 1; }
      body #grid-container #grid-content__loggedin #content-news {
        display: grid;
        position: relative;
        top: 0px;
        grid-column: 2;
        grid-row: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        -webkit-box-shadow: 0px 0px 5px #333333;
                box-shadow: 0px 0px 5px #333333;
        margin: 10px 20px 10px 20px;
        -webkit-transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
        overflow: hidden; }
        body #grid-container #grid-content__loggedin #content-news:hover {
          top: -2.5px;
          -webkit-box-shadow: 0px 0px 5px #20792c;
                  box-shadow: 0px 0px 5px #20792c;
          overflow-y: auto;
          overflow-x: hidden; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar {
            width: 7px; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar-thumb {
            background: #888; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar-thumb:hover {
            background: #555; }
        body #grid-container #grid-content__loggedin #content-news #news-header {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr;
          grid-column: auto;
          grid-row: 1;
          border-bottom: 2px solid #333333; }
          body #grid-container #grid-content__loggedin #content-news #news-header #news-heading {
            grid-column: 1;
            grid-row: auto;
            padding: 0px 0px 0px 10px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600; }
          body #grid-container #grid-content__loggedin #content-news #news-header #news-search {
            display: grid;
            grid-column: 2;
            grid-row: auto;
            justify-self: center;
            align-self: center;
            height: 30px;
            width: 175px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            border: none;
            border-style: none;
            border-radius: 10px;
            padding-left: 5px; }
            body #grid-container #grid-content__loggedin #content-news #news-header #news-search ::-webkit-input-placeholder {
              color: #808080; }
        body #grid-container #grid-content__loggedin #content-news #news-content {
          display: grid;
          overflow: hidden; }
          body #grid-container #grid-content__loggedin #content-news #news-content:hover {
            overflow-y: auto;
            overflow-x: hidden; }
            body #grid-container #grid-content__loggedin #content-news #news-content:hover ::-webkit-scrollbar {
              width: 7px; }
            body #grid-container #grid-content__loggedin #content-news #news-content:hover ::-webkit-scrollbar-thumb {
              background: #888; }
            body #grid-container #grid-content__loggedin #content-news #news-content:hover ::-webkit-scrollbar-thumb:hover {
              background: #555; }
    body #grid-container #grid-content__unregistered {
      display: grid;
      grid-column: auto;
      grid-row: 2;
      grid-template-columns: 20px 1fr 1fr 1fr 20px;
      grid-template-rows: 50px 200px 100px 1fr 1fr 1fr;
      background: url("../../img/14219176094_308139ff32_o.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center left;
      overflow: hidden; }
      body #grid-container #grid-content__unregistered #content-information {
        display: grid;
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        background-color: #33333380;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        -webkit-filter: grayscale(30%) brightness(90%);
                filter: grayscale(30%) brightness(90%);
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2; }
        body #grid-container #grid-content__unregistered #content-information #information-heading {
          font-family: 'Lato', sans-serif;
          text-decoration: underline;
          overflow: hidden; }
        body #grid-container #grid-content__unregistered #content-information #information-text {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          word-spacing: 0px;
          line-height: 20px; }
      body #grid-container #grid-content__unregistered #content-login-container {
        display: grid;
        grid-column: 3;
        grid-row-start: 2;
        grid-row-end: 6;
        justify-self: center;
        height: auto;
        width: 80%;
        background-color: #333333;
        border: 2px solid #00FF22; }
        body #grid-container #grid-content__unregistered #content-login-container #login-form {
          display: none;
          grid-template-columns: 1fr;
          grid-template-rows: 100px 70px 35px 40px 35px 1fr 20px;
          margin: 0;
          overflow: hidden; }
          body #grid-container #grid-content__unregistered #content-login-container #login-form #login-heading {
            grid-column: auto;
            grid-row: 1;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; }
          body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username {
            grid-column: auto;
            grid-row: 3;
            background: none;
            background-color: #353535;
            height: 30px;
            width: 50%;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid #00FF22;
            border-left: 0px;
            -webkit-transition: border-bottom 500ms ease-in-out;
            transition: border-bottom 500ms ease-in-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username::-webkit-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username::-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username::placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:hover::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:focus::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:active::-webkit-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:hover:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:focus:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:active:-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:hover::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:focus::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:active::-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:hover::placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:focus::placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:active::placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username:focus,
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-username select:focus {
              outline: none;
              outline-offset: none;
              border-bottom: 1px solid #00bb19; }
          body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password {
            grid-column: auto;
            grid-row: 5;
            background: none;
            background-color: #353535;
            height: 30px;
            width: 50%;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid #00FF22;
            border-left: 0px;
            -webkit-transition: border-bottom 250ms ease-in-out;
            transition: border-bottom 250ms ease-in-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password::-webkit-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password::-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password::placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:hover::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:focus::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:active::-webkit-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:hover:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:focus:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:active:-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:hover::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:focus::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:active::-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:hover::placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:focus::placeholder, body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:active::placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password:focus,
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-password select:focus {
              outline: none;
              outline-offset: none;
              border-bottom: 1px solid #00bb19; }
          body #grid-container #grid-content__unregistered #content-login-container #login-form #login-submit {
            grid-column: auto;
            grid-row: 6;
            height: 60px;
            width: 40%;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            background: none;
            background-color: #FF0000;
            border: none;
            -webkit-transition: background-color 500ms ease;
            transition: background-color 500ms ease;
            cursor: pointer; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #login-submit:hover {
              background-color: #af0000; }
          body #grid-container #grid-content__unregistered #content-login-container #login-form #option-change {
            grid-column: auto;
            grid-row: 7;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8em;
            font-weight: 100;
            letter-spacing: 0.5px; }
            body #grid-container #grid-content__unregistered #content-login-container #login-form #option-change #login-option-change {
              color: #0ff;
              text-decoration: underline;
              cursor: pointer; }
        body #grid-container #grid-content__unregistered #content-login-container #register-form {
          display: none;
          grid-template-columns: 1fr;
          grid-template-rows: 100px 50px 35px 20px 35px 50px 1fr 20px;
          margin: 0;
          overflow: hidden; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #register-heading {
            grid-column: auto;
            grid-row: 1;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username {
            grid-column: auto;
            grid-row: 3;
            background: none;
            background-color: #353535;
            height: 30px;
            width: 50%;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid #00FF22;
            border-left: 0px;
            -webkit-transition: border-bottom 500ms ease-in-out;
            transition: border-bottom 500ms ease-in-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username::-webkit-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username::-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username::placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:hover::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:focus::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:active::-webkit-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:hover:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:focus:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:active:-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:hover::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:focus::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:active::-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:hover::placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:focus::placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:active::placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username:focus,
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-username select:focus {
              outline: none;
              outline-offset: none;
              border-bottom: 1px solid #00bb19; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password {
            grid-column: auto;
            grid-row: 5;
            background: none;
            background-color: #353535;
            height: 30px;
            width: 50%;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid #00FF22;
            border-left: 0px;
            -webkit-transition: border-bottom 250ms ease-in-out;
            transition: border-bottom 250ms ease-in-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password::-webkit-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password::-ms-input-placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password::placeholder {
              -webkit-transition: color 250ms ease-out;
              transition: color 250ms ease-out; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:hover::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:focus::-webkit-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:active::-webkit-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:hover:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:focus:-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:active:-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:hover::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:focus::-ms-input-placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:active::-ms-input-placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:hover::placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:focus::placeholder, body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:active::placeholder {
              color: #FFFFFF; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password:focus,
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-password select:focus {
              outline: none;
              outline-offset: none;
              border-bottom: 1px solid #00bb19; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #register-gender {
            grid-column: auto;
            grid-row: 6;
            height: 20px;
            width: 25%;
            color: #808080;
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            background: none;
            background-color: #353535;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid #00FF22;
            border-left: 0px; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-gender:focus,
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-gender select:focus {
              outline: none;
              outline-offset: none; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #register-submit {
            grid-column: auto;
            grid-row: 7;
            height: 60px;
            width: 40%;
            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em;
            font-weight: 300;
            background: none;
            background-color: #FF0000;
            border: none;
            -webkit-transition: background-color 500ms ease;
            transition: background-color 500ms ease;
            cursor: pointer; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #register-submit:hover {
              background-color: #af0000; }
          body #grid-container #grid-content__unregistered #content-login-container #register-form #option-change {
            grid-column: auto;
            grid-row: 8;
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8em;
            font-weight: 100;
            letter-spacing: 0.5px; }
            body #grid-container #grid-content__unregistered #content-login-container #register-form #option-change #register-option-change {
              color: #0ff;
              text-decoration: underline;
              cursor: pointer; }

.sidebar.sidebar-element,
div.sidebar-element {
  display: grid;
  position: relative;
  top: 0px;
  left: 0px;
  grid-column: auto;
  cursor: pointer; }
  .sidebar.sidebar-element:hover,
  div.sidebar-element:hover {
    background-color: #2fceff !important; }
  .sidebar.sidebar-element:active,
  div.sidebar-element:active {
    background-color: #0bb700 !important; }

.message.message-container__self,
div.message-container__self {
  display: grid;
  position: relative;
  margin-left: 10%;
  grid-template-columns: 150px 1fr 50px;
  grid-template-rows: 25px 1fr;
  justify-self: end;
  align-self: center;
  background-color: #00FF22;
  height: auto;
  width: 90%;
  margin-top: 10px; }
.message.message-container__user,
div.message-container__user {
  display: grid;
  grid-template-columns: 150px 1fr 125px;
  grid-template-rows: 25px 1fr;
  justify-self: start;
  align-self: start;
  background-color: #e6e6e6;
  height: auto;
  width: 90%;
  margin-top: 10px; }
.message.message-delete__self,
div.message-delete__self {
  position: relative;
  top: -5%;
  right: -6.5%;
  height: 15px;
  width: 15px;
  background-color: black;
  cursor: pointer; }
.message.message-delete__user,
div.message-delete__user {
  position: relative;
  top: -5%;
  left: 91%;
  height: 15px;
  width: 15px;
  background-color: black;
  cursor: pointer; }
.message.message-user,
div.message-user {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  padding: 2.5px 0px 2.5px 5px; }
.message.message-date,
div.message-date {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  justify-self: end;
  align-self: start;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  padding: 2.5px 10px 0px 0px; }
.message.message-contents,
div.message-contents {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  justify-self: start;
  align-self: center;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0px 5px 2.5px 5px; }

.news.news-content-container,
div.news-content-container {
  display: grid;
  position: relative;
  grid-template-columns: 24px 150px 1fr;
  grid-template-rows: 24px 20px 1fr;
  height: auto;
  width: 100%;
  padding-top: 10px; }
.news.news-profile-picture,
div.news-profile-picture {
  display: grid;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  background-image: url("../../img/materialdesign/ic_account_circle_24px.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
  cursor: pointer; }
.news.news-author,
div.news-author {
  display: grid;
  position: relative;
  grid-column: 2;
  grid-row: 1;
  color: #a5a5a5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  padding: 2.5px 0px 0px 10px;
  cursor: pointer; }
  .news.news-author:hover,
  div.news-author:hover {
    text-decoration: underline; }
.news.news-post-date,
div.news-post-date {
  display: grid;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  color: #a5a5a5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.70em;
  padding-left: 5px;
  cursor: pointer; }
  .news.news-post-date:hover,
  div.news-post-date:hover {
    text-decoration: underline; }
.news.news-post-content,
div.news-post-content {
  display: grid;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.80em;
  text-align: left;
  padding: 0px 5px 0px 5px; }

p.error,
h1.error,
h2.error,
h3.error,
h4.error,
h5.error,
h6.error,
.response.error {
  color: #FF0000; }
p.success,
h1.success,
h2.success,
h3.success,
h4.success,
h5.success,
h6.success,
.response.success {
  color: #00FF22; }

@supports (display: grid) {
  @media only screen and (max-width: 1375px) {
    body #grid-container #grid-content__loggedin {
      display: grid;
      grid-column: auto;
      grid-row: 2;
      grid-template-columns: 1fr 0.75fr;
      grid-template-rows: 1fr;
      background-color: #FFFFFF;
      overflow: hidden; }
      body #grid-container #grid-content__loggedin #content-chat {
        display: grid;
        position: relative;
        top: 0px;
        grid-column: 1;
        grid-row: auto;
        grid-template-columns: 50px 10px 1fr;
        grid-template-rows: 1fr 100px 15px;
        -webkit-box-shadow: 0px 0px 5px #333333;
                box-shadow: 0px 0px 5px #333333;
        margin: 20px 20px 10px 20px;
        -webkit-transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, -webkit-box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out;
        transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
        overflow: hidden; }
        body #grid-container #grid-content__loggedin #content-chat:hover {
          top: -2.5px;
          -webkit-box-shadow: 0px 0px 5px #20792c;
                  box-shadow: 0px 0px 5px #20792c;
          overflow: hidden; }
          body #grid-container #grid-content__loggedin #content-chat:hover ::-webkit-scrollbar {
            width: 7px; }
          body #grid-container #grid-content__loggedin #content-chat:hover ::-webkit-scrollbar-thumb {
            background: #888; }
          body #grid-container #grid-content__loggedin #content-chat:hover ::-webkit-scrollbar-thumb:hover {
            background: #555; }
      body #grid-container #grid-content__loggedin #content-news {
        display: grid;
        grid-column: 2;
        grid-row: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        -webkit-box-shadow: 1px 1px 5px #333333;
                box-shadow: 1px 1px 5px #333333;
        margin: 20px 20px 10px 20px;
        overflow: hidden; }
        body #grid-container #grid-content__loggedin #content-news:hover {
          overflow-y: auto;
          overflow-x: hidden; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar {
            width: 7px; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar-thumb {
            background: #888; }
          body #grid-container #grid-content__loggedin #content-news:hover ::-webkit-scrollbar-thumb:hover {
            background: #555; }
    body #grid-container #grid-content__unregistered {
      display: grid;
      grid-column: auto;
      grid-row: 2;
      grid-template-columns: 20px 1fr 1fr 20px;
      grid-template-rows: 50px 200px 100px 1fr 1fr 1fr;
      background: url("../../img/__unregistered-background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center left;
      overflow: hidden; }
      body #grid-container #grid-content__unregistered #content-information {
        display: grid;
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr;
        background-color: #33333380;
        border-radius: 20px;
        padding: 0 5px 0 5px;
        -webkit-filter: grayscale(30%) brightness(90%);
                filter: grayscale(30%) brightness(90%);
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 2; }
        body #grid-container #grid-content__unregistered #content-information #information-heading {
          font-family: 'Lato', sans-serif;
          font-size: 2.5em;
          text-decoration: underline;
          overflow: hidden; }
        body #grid-container #grid-content__unregistered #content-information #information-text {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          word-spacing: 0px;
          line-height: 17px; }
      body #grid-container #grid-content__unregistered #content-login-container {
        display: grid;
        grid-column: 3;
        grid-row-start: 2;
        grid-row-end: 6;
        justify-self: center;
        height: auto;
        width: 80%;
        background-color: #333333;
        border: 2px solid #00FF22; } } }

/*# sourceMappingURL=index.css.map */