a,
a:hover,
a:active,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer; }

body {
  overflow: hidden;
  height: auto;
  width: auto; }
  body #grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 100px; }
    body #grid-container #grid-content__loggedin {
      display: grid;
      grid-column: auto;
      grid-row: 2;
      grid-template-columns: auto 1fr;
      grid-template-rows: 40px 30px 30px auto 1fr;
      background-color: #FFFFFF; }
      body #grid-container #grid-content__loggedin #content-heading {
        grid-column: 1;
        grid-row: 1;
        color: #000000;
        justify-self: start;
        -ms-flex-item-align: end;
            align-self: end;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        padding-left: 10px; }
      body #grid-container #grid-content__loggedin #content-actions-container {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr;
        grid-column: 2;
        grid-row: auto; }
        body #grid-container #grid-content__loggedin #content-actions-container #actions-edit {
          grid-column: 2;
          grid-row: 1;
          font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
          font-weight: 300;
          font-size: .85em;
          color: #000000;
          margin: 10px 5px 10px 5px;
          cursor: pointer; }
          body #grid-container #grid-content__loggedin #content-actions-container #actions-edit:hover {
            text-decoration: underline; }
        body #grid-container #grid-content__loggedin #content-actions-container #actions-remove {
          grid-column: 3;
          grid-row: 1;
          font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
          font-weight: 300;
          font-size: .85em;
          color: #FF0000;
          margin: 10px 5px 10px 5px;
          cursor: pointer; }
          body #grid-container #grid-content__loggedin #content-actions-container #actions-remove:hover {
            text-decoration: underline; }
      body #grid-container #grid-content__loggedin #content-reason {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        -ms-flex-item-align: center;
            align-self: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding-left: 20px; }
      body #grid-container #grid-content__loggedin #content-user {
        grid-column: 1;
        grid-row: 3;
        justify-self: start;
        -ms-flex-item-align: center;
            align-self: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding-left: 20px; }
      body #grid-container #grid-content__loggedin #content-details-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row: 4;
        grid-column: 2;
        padding-bottom: 20px; }
        body #grid-container #grid-content__loggedin #content-details-container #details-content {
          grid-column: auto;
          grid-row: auto;
          color: #000000;
          text-align: left;
          font-family: 'Lato', sans-serif;
          font-weight: 300;
          padding: 10px 50px 30px 20px; }

@supports (display: grid) {
  @media only screen and (max-width: 1375px) {
    body {
      overflow: hidden;
      height: auto;
      width: auto; }
      body #grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 100px; }
        body #grid-container #grid-content__loggedin {
          display: grid;
          grid-column: auto;
          grid-row: 2;
          grid-template-columns: auto 1fr;
          grid-template-rows: 40px 30px 30px auto 1fr;
          background-color: #FFFFFF; }
          body #grid-container #grid-content__loggedin #content-heading {
            grid-column: 1;
            grid-row: 1;
            color: #000000;
            justify-self: start;
            -ms-flex-item-align: end;
                align-self: end;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            padding-left: 10px; }
          body #grid-container #grid-content__loggedin #content-actions-container {
            display: grid;
            grid-template-columns: 1fr auto auto;
            grid-template-rows: 1fr;
            grid-column: 2;
            grid-row: auto; }
            body #grid-container #grid-content__loggedin #content-actions-container #actions-edit {
              grid-column: 2;
              grid-row: 1;
              font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
              font-weight: 300;
              font-size: .85em;
              color: #000000;
              margin: 10px 5px 10px 5px;
              cursor: pointer; }
              body #grid-container #grid-content__loggedin #content-actions-container #actions-edit:hover {
                text-decoration: underline; }
            body #grid-container #grid-content__loggedin #content-actions-container #actions-remove {
              grid-column: 3;
              grid-row: 1;
              font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
              font-weight: 300;
              font-size: .85em;
              color: #FF0000;
              margin: 10px 5px 10px 5px;
              cursor: pointer; }
              body #grid-container #grid-content__loggedin #content-actions-container #actions-remove:hover {
                text-decoration: underline; }
          body #grid-container #grid-content__loggedin #content-reason {
            grid-column: 1;
            grid-row: 2;
            justify-self: start;
            -ms-flex-item-align: center;
                align-self: center;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            padding-left: 20px; }
          body #grid-container #grid-content__loggedin #content-user {
            grid-column: 1;
            grid-row: 3;
            justify-self: start;
            -ms-flex-item-align: center;
                align-self: center;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            padding-left: 20px; }
          body #grid-container #grid-content__loggedin #content-details-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 25px 25px 25px;
            grid-row: 4;
            grid-column-start: 1;
            grid-column-end: 3; }
            body #grid-container #grid-content__loggedin #content-details-container #details-content {
              grid-column: auto;
              grid-row: 1;
              color: #000000;
              text-align: left;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 10px 50px 30px 10px; }
            body #grid-container #grid-content__loggedin #content-details-container #details-enddate {
              grid-column: auto;
              grid-row: 2;
              color: #000000;
              justify-self: start;
              -ms-flex-item-align: center;
                  align-self: center;
              text-align: left;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 0px 0px 0px 10px; }
            body #grid-container #grid-content__loggedin #content-details-container #details-ban-ip {
              grid-column: auto;
              grid-row: 3;
              color: #000000;
              justify-self: start;
              -ms-flex-item-align: center;
                  align-self: center;
              text-align: left;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 0px 0px 0px 10px; }
            body #grid-container #grid-content__loggedin #content-details-container #details-curip {
              grid-column: auto;
              grid-row: 4;
              color: #000000;
              justify-self: start;
              -ms-flex-item-align: center;
                  align-self: center;
              text-align: left;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 0px 0px 0px 10px; } } }

/*# sourceMappingURL=view.css.map */