// Unapproved use and redistribution of this code and respective product is strictly prohibited.
// Copyright© 2018 Keanu Ashwell all rights are reserved to the author, creator, registered 
// authorised and licensed owners of this product and it's content

@import "partials/_partials.scss";

a,
a:hover,
a:active,
a:visited {

    color: $exchange-white;

    text-decoration: none;

    cursor: pointer;

}

body {

    overflow: hidden;

    height: auto;
    width: auto;

    #grid-container {

        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 100px; 

        #grid-content {

            display: grid;

            grid-column: auto;
            grid-row: 2;

            grid-template-columns: 1fr;
            grid-template-rows: 50px 1fr;

            background-color: $exchange-white;

            #content-heading {

                grid-column: auto;
                grid-row: 1;

                justify-self: center;
                align-self: center;

                color: #000000;

                font-family: 'Lato', sans-serif;
                font-weight: 600;

                padding: 25px 10px 10px 10px;

            }

            #content-credits {

                grid-column: auto;
                grid-row: 2;

                justify-self: center;
                align-self: start;

                color: #000000;

                text-align: center;

                font-family: Arial, sans-serif;
                font-weight: 100;

                padding: 50px 350px 20px 350px;

            }

            a {

                color: #000;

            }

        }

    }

}