// Unapproved use and redistribution of this code and respective product is strictly prohibited.
// Copyright© 2018 Keanu Ashwell all rights are reserved to the author, creator, registered 
// and licensed owners of this product and it's content

@import "partials/_partials.scss";

a,
a:hover,
a:active,
a:visited {

    color: $exchange-white;

    text-decoration: none;

    cursor: pointer;

}

body {

    overflow-x: hidden;
    overflow-y: visible;

    height: auto;
    width: auto;

    #grid-container {

        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 100px; 

        #grid-content__loggedin {

            display: grid; 

            grid-column: auto;
            grid-row: 2;

            grid-template-columns: 1fr 1fr 1.75fr;
            grid-template-rows: 1fr 0.6fr;

            background-color: $exchange-white;

            overflow: hidden;

            #content-news {

                display: grid;

                position: relative;

                top: 0px;

                grid-column: 3;
                grid-row: 1;

                grid-template-columns: 1fr;
                grid-template-rows: 50px 1fr;

                box-shadow: 0px 0px 5px $exchange-black;

                margin: 10px 20px 10px 20px;

                transition: top 150ms ease-in-out 0s, box-shadow 200ms ease-in-out;

                overflow: hidden;

                &:hover {

                    top: -2.5px;

                    box-shadow: 0px 0px 5px #20792c;

                }

                #news-header {

                    display: grid;

                    grid-column: auto;
                    grid-row: 1;

                    border-bottom: 2px solid $exchange-black;

                    #news-heading {

                        padding: 0px 0px 0px 10px;

                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;

                    }

                }

                #news-content {

                    display: grid;

                    overflow-y: auto;
                    overflow-x: hidden;
                    
                    ::-webkit-scrollbar {

                        width: 7px;

                    }

                    ::-webkit-scrollbar-thumb {

                        background: #888; 

                    }

                    ::-webkit-scrollbar-thumb:hover {

                        background: #555; 

                    }

                }

            }

        }

        #grid-content__unregistered {

            display: grid;

            grid-column: auto;
            grid-row: 2;

            grid-template-columns: 20px 1fr 1fr 1fr 20px;
            grid-template-rows: 50px 200px 100px 1fr 1fr 1fr;

            background: url('/Exchange.me/img/14219176094_308139ff32_o.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center left;

            overflow: hidden;

            #content-information {

                display: grid;

                grid-column: 2;
                grid-row-start: 2;
                grid-row-end: 6;

                grid-template-columns: 1fr;
                grid-template-rows: 80px 1fr;

                background-color: #33333380;
                border-radius: 20px;

                padding: 0 5px 0 5px;

                filter: grayscale(30%) brightness(90%);

                overflow-x: hidden;
                overflow-y: auto;

                z-index: 2;

                #information-heading {

                    font-family: 'Lato', sans-serif;

                    text-decoration: underline;

                    overflow: hidden;

                }

                #information-text {

                    font-family: 'Lato', sans-serif;
                    font-weight: 500;

                    word-spacing: 0px;

                    line-height: 20px;

                }

            }

            #content-login-container {

                display: grid;

                grid-column: 3;
                grid-row-start: 2;
                grid-row-end: 6;

                justify-self: center;

                height: auto;
                width: 80%;

                background-color: $exchange-black;

                border: 2px solid $exchange-green;

                #login-form {

                    display: none;

                    grid-template-columns: 1fr;
                    grid-template-rows: 100px 70px 35px 40px 35px 1fr 20px;

                    margin: 0;

                    overflow: hidden;

                    #login-heading {

                        grid-column: auto;
                        grid-row: 1;

                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;

                    }

                    #login-username {

                        grid-column: auto;
                        grid-row: 3;

                        background: none;

                        background-color: #353535;

                        height: 30px;
                        width: 50%;

                        font-family: 'Montserrat', sans-serif;

                        padding-left: 10px;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 1px solid $exchange-green;
                        border-left: 0px;

                        transition: border-bottom 500ms ease-in-out;

                        &::placeholder {

                            transition: color 250ms ease-out;

                        }

                        &:hover::placeholder,
                        &:focus::placeholder,
                        &:active::placeholder {

                            color: $exchange-white;

                        }

                        &:focus,
                        select:focus {

                            outline: none;

                            outline-offset: none;

                            border-bottom: 1px solid #00bb19;

                        }

                    }

                    #login-password {

                        grid-column: auto;
                        grid-row: 5;

                        background: none;

                        background-color: #353535;

                        height: 30px;
                        width: 50%;

                        font-family: 'Montserrat', sans-serif;

                        padding-left: 10px;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 1px solid $exchange-green;
                        border-left: 0px;

                        transition: border-bottom 250ms ease-in-out;

                        &::placeholder {

                            transition: color 250ms ease-out;

                        }

                        &:hover::placeholder,
                        &:focus::placeholder,
                        &:active::placeholder {

                            color: $exchange-white;

                        }

                        &:focus,
                        select:focus {

                            outline: none;

                            outline-offset: none;

                            border-bottom: 1px solid #00bb19;

                        }

                    }

                    #login-submit {

                        grid-column: auto;
                        grid-row: 6;

                        height: 60px;
                        width: 40%;

                        color: $exchange-white;

                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.5em;
                        font-weight: 300;

                        background: none;
                        background-color: #FF0000;

                        border: none;

                        transition: background-color 500ms ease;

                        cursor: pointer;

                        &:hover {

                            background-color: #af0000;

                        }

                    }

                    #option-change {

                        grid-column: auto;
                        grid-row: 7;

                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.8em;
                        font-weight: 100;

                        letter-spacing: 0.5px;

                        #login-option-change {

                            color: #0ff;

                            text-decoration: underline;

                            cursor: pointer;

                        }

                    }

                }

                #register-form {

                    display: none;

                    grid-template-columns: 1fr;
                    grid-template-rows: 100px 50px 35px 20px 35px 50px 1fr 20px;

                    margin: 0;

                    overflow: hidden;

                    #register-heading {

                        grid-column: auto;
                        grid-row: 1;

                        font-family: 'Montserrat', sans-serif;
                        font-weight: 300;

                    }

                    #register-username {

                        grid-column: auto;
                        grid-row: 3;

                        background: none;

                        background-color: #353535;

                        height: 30px;
                        width: 50%;

                        font-family: 'Montserrat', sans-serif;

                        padding-left: 10px;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 1px solid $exchange-green;
                        border-left: 0px;

                        transition: border-bottom 500ms ease-in-out;

                        &::placeholder {

                            transition: color 250ms ease-out;

                        }

                        &:hover::placeholder,
                        &:focus::placeholder,
                        &:active::placeholder {

                            color: $exchange-white;

                        }

                        &:focus,
                        select:focus {

                            outline: none;

                            outline-offset: none;

                            border-bottom: 1px solid #00bb19;

                        }

                    }

                    #register-password {

                        grid-column: auto;
                        grid-row: 5;

                        background: none;

                        background-color: #353535;

                        height: 30px;
                        width: 50%;

                        font-family: 'Montserrat', sans-serif;

                        padding-left: 10px;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 1px solid $exchange-green;
                        border-left: 0px;

                        transition: border-bottom 250ms ease-in-out;

                        &::placeholder {

                            transition: color 250ms ease-out;

                        }

                        &:hover::placeholder,
                        &:focus::placeholder,
                        &:active::placeholder {

                            color: $exchange-white;

                        }

                        &:focus,
                        select:focus {

                            outline: none;

                            outline-offset: none;

                            border-bottom: 1px solid #00bb19;

                        }

                    }

                    #register-gender {

                        grid-column: auto;
                        grid-row: 6;

                        height: 20px;
                        width: 25%;

                        color: #808080;

                        font-family: 'Montserrat', sans-serif;
                        font-weight: 100;

                        background: none;
                        background-color: #353535;

                        border-top: 0px;
                        border-right: 0px;
                        border-bottom: 1px solid $exchange-green;
                        border-left: 0px;

                        &:focus,
                        select:focus {

                            outline: none;

                            outline-offset: none;

                        }

                    }

                    #register-submit {

                        grid-column: auto;
                        grid-row: 7;

                        height: 60px;
                        width: 40%;

                        color: $exchange-white;

                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.5em;
                        font-weight: 300;

                        background: none;
                        background-color: #FF0000;

                        border: none;

                        transition: background-color 500ms ease;

                        cursor: pointer;

                        &:hover {

                            background-color: #af0000;

                        }

                    }

                    #option-change {

                        grid-column: auto;
                        grid-row: 8;

                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.8em;
                        font-weight: 100;

                        letter-spacing: 0.5px;

                        #register-option-change {

                            color: #0ff;

                            text-decoration: underline;

                            cursor: pointer;

                        }

                    }

                }

            }

        }

    }

}

.news,
div {

    &.news-content-container {

        display: grid;

        position: relative;

        grid-template-columns: 24px 150px 1fr;
        grid-template-rows: 24px 20px 1fr; 

        height: auto;
        width: 100%;

        max-height: 300px;

        padding-top: 10px;

    }

    &.news-profile-picture {

        display: grid;

        position: relative;

        grid-column: 1;
        grid-row: 1;

        height: 100%;
        width: 100%;

        background-image: url("/Exchange.me/img/materialdesign/ic_account_circle_24px.svg");
        background-size: contain;
        background-repeat: no-repeat;

        margin-left: 5px;

        cursor: pointer;

    }

    &.news-author {

        display: grid;

        position: relative;

        grid-column: 2;
        grid-row: 1;

        color: #a5a5a5;

        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 0.85em;

        padding: 2.5px 0px 0px 10px;

        cursor: pointer;

        &:hover {

            text-decoration: underline;

        }

    }

    &.news-post-date {

        display: grid;

        position: relative;

        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;

        color: #a5a5a5;

        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 0.70em;

        padding-left: 5px;

        cursor: pointer;

        &:hover {

            text-decoration: underline;

        }

    }

    &.news-post-content {

        display: grid;

        position: relative;

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 3;

        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 0.80em;

        text-align: left;

        padding: 0px 5px 0px 5px;

    }

}

@supports(display: grid) {

    @media only screen and (max-width: 1375px) {

        body {

            #grid-container {

                #grid-content__loggedin {

                    display: grid;

                    grid-column: auto;
                    grid-row: 2;

                    grid-template-columns: 1fr 1fr 1.75fr;
                    grid-template-rows: 1fr 0.6fr;

                    background-color: $exchange-white;

                    overflow: hidden;

                    #content-news {

                        display: grid;

                        grid-column: 3;
                        grid-row: 1;

                        grid-template-columns: 1fr;
                        grid-template-rows: 50px 1fr;

                        box-shadow: 1px 1px 5px $exchange-black;

                        margin: 20px 20px 10px 20px;

                        max-height: 550px;

                        overflow-y: auto;
                        overflow-x: hidden;

                        ::-webkit-scrollbar {

                            width: 7px;
    
                        }
    
                        ::-webkit-scrollbar-thumb {
    
                            background: #888; 
    
                        }
    
                        ::-webkit-scrollbar-thumb:hover {
    
                            background: #555; 
    
                        }

                    }

                }

                #grid-content__unregistered {

                    display: grid;

                    grid-column: auto;
                    grid-row: 2;

                    grid-template-columns: 20px 1fr 1fr 20px;
                    grid-template-rows: 50px 200px 100px 1fr 1fr 1fr;

                    background: url('/Exchange.me/img/14219176094_308139ff32_o.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center left;
                    overflow: hidden;

                    #content-information {

                        display: grid;

                        grid-column: 2;
                        grid-row-start: 2;
                        grid-row-end: 6;

                        grid-template-columns: 1fr;
                        grid-template-rows: 80px 1fr;

                        background-color: #33333380;
                        border-radius: 20px;

                        padding: 0 5px 0 5px;

                        filter: grayscale(30%) brightness(90%);

                        overflow-x: hidden;
                        overflow-y: auto;

                        z-index: 2;

                        #information-heading {

                            font-family: 'Lato', sans-serif;
                            font-size: 2.5em;

                            text-decoration: underline;

                            overflow: hidden;

                        }

                        #information-text {

                            font-family: 'Lato', sans-serif;
                            font-weight: 500;

                            word-spacing: 0px;

                            line-height: 17px;

                        }

                    }

                    #content-login-container {

                        display: grid;

                        grid-column: 3;
                        grid-row-start: 2;
                        grid-row-end: 6;

                        justify-self: center;

                        height: auto;
                        width: 80%;

                        background-color: $exchange-black;

                        border: 2px solid $exchange-green;

                    }

                }

            }

        }

    }

}
