// Unapproved use and redistribution of this code and respective product is strictly prohibited.
// Copyright© 2018 Keanu Ashwell all rights are reserved to the author, creator, registered 
// authorised and licensed owners of this product and it's content

@import "partials/_partials.scss";

a,
a:hover,
a:active,
a:visited {

    color: $exchange-white;

    text-decoration: none;

    cursor: pointer;

}

body {

    overflow: hidden;

    height: auto;
    width: auto;

    #grid-container {

        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 100px; 

        #grid-content__loggedin {

            display: grid; 

            grid-column: auto;
            grid-row: 2;

            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            background-color: $exchange-white;

            #content-profile {

                display: grid;

                grid-column: auto;
                grid-row: auto;

                grid-template-columns: 175px 1fr;
                grid-template-rows: 150px 30px 20px 1fr;

                #profile-image__set {

                    grid-column: auto;
                    grid-row: auto;

                    height: auto;
                    widows: auto;

                    img {

                        max-height: 150px;
                        max-width: 150px;

                        margin: 10px 0px 0px 10px;

                        box-shadow: 1px 1px 10px $exchange-black;

                    }

                }

                #profile-image__unset {

                    grid-column: auto;
                    grid-row: auto;

                    height: auto;
                    widows: auto;

                    img {

                        max-height: 150px;
                        max-width: 150px;

                        margin: 10px 0px 0px 10px;

                    }

                }

                #profile-image-upload {

                    display: grid;

                    grid-column: 1;
                    grid-row: 2;

                    grid-template-columns: 0.5fr 1fr;
                    grid-template-rows: 1fr;

                    padding: 20px 0px 0px 5px;

                    #image-select {

                        grid-column: 1;
                        grid-row: auto;

                        height: 25px;
                        width: 60px;

                        &#image-select[type="file"] {

                            opacity: 0;

                        }

                    }

                    #image-submit {

                        grid-column: 2;
                        grid-row: 1;

                        height: 25px;
                        width: 60%;

                        color: #ffffff;

                        background-color: #00cc00;

                        font-family: 'Lato', sans-serif;

                        border: 1px solid #10ff10;

                        border-radius: 5px;

                        margin-left: 10px;

                        cursor: pointer;

                    }

                    #image-upload-label {

                        position: relative; 
                        
                        top: -25px;
                        left: -80px;
                        
                        margin: 0 auto; 
                        
                        pointer-events: none;
                        
                        text-decoration: underline;

                    }

                }

                #profile-upload-status {

                    grid-column: 1;
                    grid-row: 2;

                    padding-left: 5px;

                    justify-self: start;

                    align-self: center;

                    font-family: sans-serif;
                    font-weight: 500;
                    font-size: 0.8em;

                }

                #profile-info-container {

                    display: grid;

                    grid-column: 2;
                    grid-row: 1;

                    grid-template-columns: auto auto 1fr;
                    grid-template-rows: 50px 20px 20px 1fr;

                    margin: 10px 0px 0px 20px;

                    #info-username {

                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row: 1;

                        justify-self: start;

                        font-family: 'Lato', sans-serif;
                        font-weight: 600;
                        font-size: 2.6em;

                        color: $exchange-black;

                        padding-right: 5px;

                        overflow: hidden;

                        &:hover {

                            text-decoration: underline;

                        }

                    }

                    #info-alias {

                        grid-column: 2;
                        grid-row: 1;

                        justify-self: start;

                        font-family: 'Lato', sans-serif;
                        font-weight: 600;
                        font-size: 2.6em;

                        color: $exchange-black;

                        overflow: hidden;

                        &:hover {

                            text-decoration: underline;

                        }

                    }

                    #info-permission-container {

                        display: grid;

                        grid-column: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;

                        grid-template-columns: auto;
                        grid-template-rows: 1fr 1fr 20px;

                        overflow: hidden;

                        #permission-name {

                            grid-column: 2;
                            grid-row: 1;
    
                            justify-self: end;
    
                            align-self: center;
    
                            font-family: 'Lato', sans-serif;
                            font-weight: 400;
                            font-size: 1.6em;
    
                            color: $exchange-black;
    
                            padding: 0px 10px 0px 10px;

                            overflow: hidden;
    
                            &.Guest {
    
                                color: $exchange-black;
                                
                            }
    
                            &.Registered {
    
                                color: $exchange-black;
    
                            }
    
                            &.Member {
    
                                color: #00dd1d;
    
                            }
    
                            &.Moderator {
    
                                color: #ffa500;
    
                            }
    
                            &.Administrator {
    
                                color: #f80808;
    
                            }
    
                            &.Site-Administrator {
    
                                color: #ff0000;
    
                            }
    
                        }

                        #permission-since-container {

                            display: grid;

                            grid-column: 2;
                            grid-row: 2;

                            grid-template-columns: 1fr auto;
                            grid-template-rows: 1fr;

                            overflow: hidden;

                            #permission-time-pre {
    
                                grid-column: 1;
                                grid-row: 1;
    
                                justify-self: end;

                                align-self: center;

                                color: #a5a5a5;
    
                                font-family: 'Lato', sans-serif;
                                font-weight: 300;
                                font-size: 1em;
    
                                padding-right: 5px;

                                overflow: hidden;

                            }
    
                            #permission-time {
    
                                grid-column: 2;
                                grid-row: 1;
    
                                justify-self: end;
    
                                align-self: center;
    
                                color: #a5a5a5;
    
                                font-family: helvetica, sans-serif;
                                font-weight: 100;
                                font-size: 1em;
    
                                margin-right: 10px;

                                overflow: hidden;
    
                                &:hover {
    
                                    text-decoration: underline;
    
                                }
    
                            }

                        }

                        #permission-administrative-container {

                            display: grid;

                            grid-column: 2;
                            grid-row: 3;

                            grid-template-columns: 1fr auto auto auto auto auto;
                            grid-template-rows: 1fr;

                            #administrative-block {

                                grid-column: 2;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: $exchange-black;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 5px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }
                                
                            }

                            #administrative-friend {

                                grid-column: 3;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: #40cf2d;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 5px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }

                            }

                            #administrative-report {

                                grid-column: 4;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: #ff4444;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 5px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }

                            }

                            #administrative-warn {

                                grid-column: 5;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: #ffa500;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 5px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }

                            }

                            #administrative-ban {

                                grid-column: 6;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: #ff0000;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 10px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }

                            }

                            #administrative-edit {

                                grid-column: 6;
                                grid-row: auto;

                                justify-self: end;
    
                                align-self: end;
    
                                color: #000000;

                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                font-weight: 300;
                                font-size: 0.85em;

                                padding: 0px 10px 0px 5px;

                                cursor: pointer;

                                &:hover {

                                    text-decoration: underline;

                                }

                            }

                        }

                    }

                    #info-occupation {

                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row: 2;

                        justify-self: start;

                        align-self: start;

                        font-family: 'Lato', sans-serif;
                        font-weight: 300;
                        font-size: 1em;

                        color: #a5a5a5;

                        margin-left: 5px;

                        overflow: hidden;

                        p {

                            overflow: hidden;

                        }

                    }

                    #info-company {

                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row: 3;

                        justify-self: start;

                        align-self: start;

                        font-family: 'Lato', sans-serif;
                        font-weight: 500;
                        font-size: 1em;

                        color: #a5a5a5;

                        margin-left: 5px;

                        overflow: hidden;

                        p {

                            overflow: hidden;

                        }

                    }

                }

                #profile-information {

                    display: grid;
                    
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 30px 1fr;

                    grid-column: 2;
                    grid-row-start: 2;
                    grid-row-end: 5;

                    #information-biography-heading {

                        grid-column: auto;
                        grid-row: 2;

                        justify-self: start;
                        align-self: center;

                        color: #000000;

                        text-align: start;

                        font-family: 'Lato', sans-serif;
                        font-size: 1em;
                        font-weight: 500;

                        padding: 10px 10px 10px 10px;

                    }

                    #information-biography {

                        grid-column: auto;
                        grid-row: 3;

                        justify-self: start;
                        align-self: start;

                        color: #000000;

                        text-align: start;

                        font-family: 'Lato', sans-serif;
                        font-size: 1em;
                        font-weight: 300;

                        padding: 0px 15% 10px 10px;

                    }

                }

            }

        }

    }

}